@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg" class="img" />
</div>
<br />
<br />
<div class="HomeBox">
    <p class="boxtext">Here is the founder of this film website.  Joel's love for movies and other media has led him to collect worthy movies in order to add them to his collection.  What is found on this site is a comprehensive list of all the movies he has accumulated, put into a seachable database.</p>
</div>

@*This is all stylized with css, and the page itself is ver simple.  THe title changes at the top as well.*@