@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thank You";
}
@*This is a reception page, just to make it so someone knows their form was submitted instead of staying on the website.*@
<h1>Thank you for inputting a movie to the collection!</h1>
<br />
<h2>If you would like to enter another movie, <a asp-controller="Home" asp-action="MovieCollection">Click Here.</a></h2>
<br /><br /><br />
<h2>If you want more info, <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">click here</a></h2>